extends layout

block content
  h1= title
  p Welcome to #{title}
  each note in notes 
    div.note-card
      h3= note.title 
      p= note.body 
      span= note.createdAt
      a(href="/notes/" + note.id) 
        span= "Edit"
  - console.log(notes)
